<form class="calculate-form" (ngSubmit)="onSubmit()">
  <div class="calculate">
    <label for="number">Age : </label>
    <input type="number" name="age" [(ngModel)]="age" placeholder="Age" />
    years old.
  </div>
  <div class="calculate">
    <label for="number">Weight : </label>
    <input
      type="number"
      name="weight"
      [(ngModel)]="weight"
      placeholder=" Current Weight lbs."
    />
    lbs.
  </div>
  <div class="calculate">
    <label for="number">Height : </label>
    <input
      type="number"
      name="height"
      [(ngModel)]="height"
      placeholder="Height in."
    />
    in
  </div>
  <div class="calculate">
    <label for="number">Goal Weight : </label>
    <input
      type="number"
      name="goalWeight"
      [(ngModel)]="goalWeight"
      placeholder=" Goal Weight lbs."
    />
    lbs
    <div [hidden]="isShow" (ngSubmit)="onSubmit()">
      <p>{{paragraph}}</p>
    </div>
  </div>
  <input type="submit" value="Calculate" class="btn btn-block" />
</form>
