<header>
  <h1 class="title">{{ title }}</h1>
  <h3>
    This is tool is designed to give you the information you need to mkae the
    necceary adjustments to meet your weight oriented goals.
  </h3>
  <div class="subDescription">
    <p>
      Whether your looking to lose or gain weight, tracking calories can play an
      essential role in that process.
    </p>
    <p>
      Fill out the form below to see what adjustments you might consider to meet
      your goals.
    </p>
  </div>
</header>
